matplotlib
neptune
numpy
numpy
pandas
pandas_datareader
plotly
prophet
streamlit
yfinance
ta
textblob
scikit-learn
tensorflow
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability