matplotlib
neptune
numpy
numpy
pandas
pandas_datareader
plotly
prophet
streamlit
yfinance
ta
textblob
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
