matplotlib
neptune
numpy
numpy
pandas
pandas_datareader
plotly
prophet
streamlit
yfinance
ta
textblob
scikit-learn
tensorflow
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability